NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://devnet.helius-rpc.com/?api-key=<api-key>
NEXT_PUBLIC_PROGRAM_ID=ArcLend1111111111111111111111111111111111
NEXT_PUBLIC_ARCIUM_CLUSTER_OFFSET=456
NEXT_PUBLIC_ENABLE_ARCIUM=false
